<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/import_styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Mirza|Roboto" />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/png" sizes="96x96">
    <title>Import Journal</title>
</head>
<body>
    <div id="read-journal">
        <h1>Read Journal</h1>
        <p id="error"></p>

        <div id="font-selector">
            <select class="ql-font">
                <option selected value="aref-ruqaa">Aref Ruqaa</option>
                <option value="mirza">Mirza</option>
                <option value="roboto">Roboto</option>
            </select>
        </div> 
        <div id="main">
            <div id="editor">
                {{ content }}
            </div>
        </div>
    </div>
    <div id="import-journal">
        <form id="import-form">
            <input type="file" id="file-input" accept=".enc">
            <input type="password" id="password-input" placeholder="Enter password">
            <button id="import-btn">
                Decrypt Journal File
            </button>
        </form>
    </div>


    <div id="btns-row">
        <a class="btn" href="/" id="back">Back</a>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <script>
        const quill = new Quill('#editor', {
            theme: 'snow',
            readOnly: true,
            modules: { toolbar: false }
        });
        const fontSelector = document.getElementById('font-selector');
        fontSelector.addEventListener('change', (event) => {
            const font = event.target.value;
            document.querySelector('#editor .ql-editor').style.fontFamily = font;
            document.querySelector('#font-selector select').style.fontFamily = font;
        });

        // request for importing journal
        document.getElementById("import-btn").addEventListener("click", function(event) {
            event.preventDefault();
            const fileInput = document.getElementById("file-input");
            const passwordInput = document.getElementById("password-input");
            const file = fileInput.files[0];
            const password = passwordInput.value;

            if (!file) {
                alert("Please select a file");
                return;
            }
            if (!password) {
                alert("Please enter a password");
                return;
            }
            const reader = new FileReader();
            reader.onload = function(event) {
                const data = event.target.result;
                fetch('/import', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ "file": data, "password": password })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        quill.setText(data.decrypted_content);
                        // hide the import-journal section
                        document.getElementById("import-journal").style.display = "none";
                        // show the read-journal section
                        document.getElementById("read-journal").style.display = "block";
                    }
                })
                .catch(error => console.error('Error:', error));
            };
            reader.onerror = function(event) {
                console.error('Error reading file:', event.target.error);
            };
            reader.readAsText(file);
        });
    </script>
</body>
</html>