<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/png" sizes="96x96">
    <title>Secret Journal</title>
</head>
<body>
    <header>
        <h1 id="title">Secret Journal</h1>
        <h2 id="subtitle">Your private thoughts, safely</h2>
    </header>
    <section id="create">
        <a id="create-btn" class="btn" href="/create">
            Create Journal
            <img src="{{ url_for('static', filename='images/create-icon.png') }}" alt="pen-icon">
        </a>
        <p>
            Write your today's journal, ideas, thoughts, and save them in encrypted private format
        </p>
    </section>
    <section id="create">
        <a id="import-btn" class="btn" href="/import">
            Import Journal
            <img src="{{ url_for('static', filename='images/import-icon.png') }}" alt="import-icon">
        </a>
        </form>
        <p>
            Unlock & Read your previously written journals which were encrypted using this app itself
        </p>
    </section>
</body>
</html>